:root {
  --yellow: #ffd000;
  --yellow-hover: hsl(49, 100%, 65%);
  --compliment: rgb(255, 123, 0);
}

body,
html {
  height: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1026%26quot%3b)' fill='none'%3e%3cpath d='M550.92 231.11L594.53 231.11L594.53 231.2L550.92 231.2z' fill='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M949.16 312.32a28.09 28.09 0 1 0 54.4 14.01z' fill='rgba(255%2c 217%2c 57%2c 1)'%3e%3c/path%3e%3cpath d='M291.02 109.36L309.05 109.36L309.05 127.39L291.02 127.39z' stroke='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M941.93 36.09L959.26 36.09L959.26 53.42L941.93 53.42z' fill='rgba(255%2c 217%2c 57%2c 1)'%3e%3c/path%3e%3cpath d='M873.9 322.39L914.95 322.39L914.95 363.44L873.9 363.44z' fill='rgba(255%2c 217%2c 57%2c 1)'%3e%3c/path%3e%3cpath d='M151.05 354.64a42.54 42.54 0 1 0 8.24 84.68z' fill='rgba(255%2c 217%2c 57%2c 1)'%3e%3c/path%3e%3cpath d='M407.11 234.83 a53.52 53.52 0 1 0 107.04 0 a53.52 53.52 0 1 0 -107.04 0z' fill='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M865.94 397.71L910.81 397.71L910.81 442.58L865.94 442.58z' stroke='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M543.72 95.35L550.88 95.35L550.88 149.37L543.72 149.37z' stroke='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M461.09 333.58 a48.09 48.09 0 1 0 96.18 0 a48.09 48.09 0 1 0 -96.18 0z' stroke='rgba(255%2c 217%2c 57%2c 1)'%3e%3c/path%3e%3cpath d='M1304.82 10.63 a42.58 42.58 0 1 0 85.16 0 a42.58 42.58 0 1 0 -85.16 0z' fill='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M818.38 458.05 a34.13 34.13 0 1 0 68.26 0 a34.13 34.13 0 1 0 -68.26 0z' fill='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M563.96 452.41a38.44 38.44 0 1 0-60.97 46.84z' fill='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M44.26 36.12 a44.33 44.33 0 1 0 88.66 0 a44.33 44.33 0 1 0 -88.66 0z' stroke='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M139.4 201.63L169.74 201.63L169.74 238.69L139.4 238.69z' fill='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M32.56 139 a40.33 40.33 0 1 0 80.66 0 a40.33 40.33 0 1 0 -80.66 0z' fill='rgba(255%2c 217%2c 57%2c 1)'%3e%3c/path%3e%3cpath d='M506.94 419.29a23.89 23.89 0 1 0-38.51-28.28z' fill='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M287.85 184.95a24.67 24.67 0 1 0-34.93 34.85z' stroke='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M530.25 210.26L583.54 210.26L583.54 263.55L530.25 263.55z' stroke='rgba(255%2c 217%2c 57%2c 1)'%3e%3c/path%3e%3cpath d='M657.92 509.58L687.27 509.58L687.27 538.93L657.92 538.93z' fill='rgba(255%2c 217%2c 57%2c 1)'%3e%3c/path%3e%3cpath d='M282.88 228.99L287.57 228.99L287.57 280.31L282.88 280.31z' stroke='rgba(255%2c 217%2c 57%2c 1)'%3e%3c/path%3e%3cpath d='M1390.03 473.56 a27.26 27.26 0 1 0 54.52 0 a27.26 27.26 0 1 0 -54.52 0z' stroke='rgba(255%2c 217%2c 57%2c 1)'%3e%3c/path%3e%3cpath d='M1083.76 212.93 a45.83 45.83 0 1 0 91.66 0 a45.83 45.83 0 1 0 -91.66 0z' fill='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M855.53 409.8a2.33 2.33 0 1 0-4.56 0.96z' fill='rgba(255%2c 217%2c 57%2c 1)'%3e%3c/path%3e%3cpath d='M928.42 504.38 a24.78 24.78 0 1 0 49.56 0 a24.78 24.78 0 1 0 -49.56 0z' fill='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M1231.09 5.72a54.88 54.88 0 1 0 37.88 103.02z' stroke='rgba(255%2c 217%2c 57%2c 1)'%3e%3c/path%3e%3cpath d='M318.06 19.94a17.83 17.83 0 1 0 25.71-24.7z' fill='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M411.25 159.62a9.77 9.77 0 1 0 10.84 16.25z' fill='rgba(255%2c 217%2c 57%2c 1)'%3e%3c/path%3e%3cpath d='M485.67 210.55L541.12 210.55L541.12 257.76L485.67 257.76z' fill='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M15.17 312.88L53.42 312.88L53.42 351.13L15.17 351.13z' fill='rgba(255%2c 217%2c 57%2c 1)'%3e%3c/path%3e%3cpath d='M953.74 313.31L961.42 313.31L961.42 320.99L953.74 320.99z' stroke='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M908.8 236.42L925.97 236.42L925.97 288.61L908.8 288.61z' fill='rgba(255%2c 217%2c 57%2c 1)'%3e%3c/path%3e%3cpath d='M1273.37 282.1 a13.23 13.23 0 1 0 26.46 0 a13.23 13.23 0 1 0 -26.46 0z' stroke='rgba(255%2c 208%2c 0%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1026'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: fill;
  background-repeat: repeat;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.container {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 2.5rem;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  /* border-bottom-left-radius: 225px 15px;
  border-bottom-right-radius: 15px 255px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 255px 15px; */
  /* border-radius: 15px 225px 255px 15px 15px 255px 225px 15px; */
  max-width: 700px;
  margin-inline: 1rem;
  background-color: transparent;

  background: rgba(255, 255, 255, 0.75);
}

.text-respond {
  font-size: color;
  margin-bottom: 1rem;
}

strong {
  color: green;
}

.buttons {
  display: flex;
  bottom: 0;
  gap: 1.5rem;
}

.button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-height: 3.3rem;
}

.button:nth-of-type(2) {
  border-bottom-left-radius: 225px 15px;
  border-bottom-right-radius: 15px 255px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 255px 15px;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  border: 3px solid var(--yellow);
}

.pick-btn {
  font-size: 16px;
  font-weight: 350;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 235ms ease-in-out;
  border-radius: 10px;
}

.active {
  background-color: var(--yellow);
}

.active:hover {
  background-color: var(--yellow-hover);
}

.respond-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  animation: popupContainer 1s cubic-bezier(0.18, 1.43, 0.27, 1.08);
  width: 100%;
}

img {
  flex-shrink: 1;
  width: 6rem;
  object-fit: contain;
  filter: drop-shadow(0px 8px 8px #a6a6a6);
  transition: all 1s linear;
  animation: popup 1s cubic-bezier(0.18, 1.43, 0.27, 1.08);
}

.copyright {
  position: absolute;
  bottom: 4px;
  left: 4px;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .pick-btn {
    padding: 13px 50px 13px;
  }
}

@media screen and (max-width: 640px) {
  body {
    background-size: contain;
    background-repeat: repeat;
  }

  .container {
    transition: all 1s linear;
    width: 95%;
  }

  .buttons {
    flex-direction: column;
    max-height: 640px;
    gap: 1rem;
  }

  .text-respond {
    min-width: 320px;
  }
}

@keyframes popup {
  0% {
    width: 3rem;
  }

  100% {
    width: 6rem;
  }
}

@keyframes popupContainer {
  0% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
